@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
.margin-bottom-small {
  margin-bottom: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.main-grid {
  padding: 2rem;
  display: grid;
  grid-template-rows: 75vh 40vw repeat(4, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] 1fr [full-end];
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  border-radius: 100px;
  text-transform: uppercase;
  padding: 1rem 4rem;
  transition: all 0.2s;
  position: relative;
  text-align: center;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn--white {
  color: #777;
  background-color: #fff;
  padding: 1rem 7rem;
}
.btn--white::after {
  background-color: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--grey {
  color: #fff;
  background-color: #777;
  padding: 1rem 4rem;
}
.btn--grey::after {
  background-color: #777;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 99;
}
.modalContainer:target {
  opacity: 1;
  visibility: visible;
}

.modal-center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 3rem;
  transform: translate(-50%, -50%);
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  z-index: 100;
  background-color: #486AF8;
  height: 60vh;
  width: 50vw;
}

.backdrop {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 19;
  background: rgba(0, 0, 0, 0.75);
}

.modal-header {
  color: #fff;
  font-size: 4rem;
  text-align: left;
  grid-row: 1/2;
}
.modal-content {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  text-align: left;
  grid-row: 2/3;
  overflow-y: auto;
}
.modal-footer {
  justify-self: left;
  grid-row: 3/4;
}

.headerImage {
  grid-column: full-start/full-end;
  height: 75vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to bottom, rgba(72, 106, 248, 0.8), rgba(63, 133, 217, 0.8)), url("./images/t-stn-land-1.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headertext {
  color: #fff;
}
.headertext__primary {
  font-family: "Lora", sans-serif;
  font-size: 6rem;
  display: block;
  text-transform: uppercase;
}
.headertext_secondary {
  font-family: "Raleway", sans-serif;
  display: block;
  font-size: 3rem;
}

.avatar-1 {
  width: 12rem;
  border-radius: 50%;
  display: block;
  justify-content: center;
  align-content: center;
}

.coverletter {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [coverfull-start] 1fr [covercenter-start] repeat(4, [covercol-start] minmax(min-content, 1fr) [covercol-end]) [covercenter-end] 1fr [coverfull-end];
}
.coverletter__pictures, .coverletter__text--container {
  grid-row: 1/2;
}
.coverletter__pictures {
  grid-column: coverfull-start/covercol-end 3;
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr) 1fr;
  grid-template-rows: 1fr repeat(2, 2fr) 0.25fr;
}
.coverletter__image-1 {
  width: 90%;
  height: 90%;
  background-size: cover;
  background-position: center;
  grid-row: 2/4;
  grid-column: 2/4;
  background-image: url("./images/t-city-portrait-1.jpg");
  opacity: 65%;
}
.coverletter__text--container {
  grid-column: covercol-start 3/coverfull-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 4rem;
}
.coverletter__heading {
  font-size: 4rem;
}
.coverletter__text {
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  color: #777;
}

.qualifications {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: minmax(max-content, 1fr);
  grid-template-rows: auto auto auto;
  row-gap: 2rem;
  text-align: center;
  background-color: #51C3F0;
  padding: 4rem;
}

.card {
  width: 100%;
  height: 100%;
}

.card-1 {
  grid-row: 1/2;
}

.card-2 {
  grid-row: 2/3;
}

.card-3 {
  grid-row: 3/4;
}

.gallery {
  grid-column: full-start/full-end;
  background-color: #3FD6D9;
}

.contact {
  grid-column: center-start/center-end;
  background-color: #48F8CA;
}

.footer {
  grid-column: full-start/full-end;
  background-color: #333;
  padding: 10rem;
  font-size: 1.4rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.nav__link:link, .nav__link:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Lora", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;
  display: block;
  background-color: rgba(255, 255, 255, 0.05);
}

.copyright {
  padding: 2rem;
  text-align: center;
}

/*# sourceMappingURL=output.css.map */
