*
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html
{
    box-sizing: border-box;
    font-size: 62.5%;
}
body
{
    font-family:$font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-gray-1;
}

.main-grid
{
    padding: 2rem;
    display: grid;
    grid-template-rows: 95vh  80vh repeat(4, min-content);
    grid-template-columns:[full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content,15rem) [col-end] ) [center-end] 1fr[full-end];
}