.contact
{
    grid-column: full-start / full-end;
    background-color: $color-gray-3;
    display: grid;
    @media screen and (min-width:1000px)
    {
    grid-template-columns: repeat(4, minmax(max-content, 1fr));
    }
    grid-gap: 2rem;
    align-items:center;
    padding: 0 0 2rem 0;
    &__container
    {
        display:flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }
    &__header
    {
        grid-column: 1/-1;
        justify-self: center;
    }
    &__icon
    {
        width: 4rem;
        height: 4rem;
        fill:$color-gray-1;
    }
    &__text
    {
        margin-left:2rem;
    }
}