.headerImage
{
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, rgba($color-primary,0.8),rgba($color-secondary,0.8)), url("./images/pcb-1.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 90%,0 100%);
    position: relative;
}
.center-box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.headertext
{
    color: $color-white;
    justify-content: center;

    &__primary
    {
        font-family:$font-primary;
        font-size: 6rem;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }

    &_secondary
    {
        font-family:$font-secondary;
        display: block;
        font-size: 3rem;
    }
}