$color-gray-1: #777;
$color-gray-2: #333;
$color-gray-3: rgb(240, 242, 245);
$color-white: #fff;
$color-black: #000;
$color-primary: #486AF8;
$color-secondary: #3F85D9;
$color-tertiary: #51C3F0;
$color-4: #3FD6D9;
$color-5: #48F8CA;
$font-secondary: 'Raleway',sans-serif;
$font-primary: 'Lora',sans-serif;